
 .todo-item {   
    color: #FFF;
    font-family: 'Avenir';
    text-align: left;
    font-size: 1.5em;
    padding: 10px;
    height: 50px;
 }

 .todo-item:last-of-type {
     padding-bottom: 20px;
 }

 .todo-description {
     position: relative;
     top: 5px;
 }